apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: {{ include "fcg-user-api.fullname" . }}-secretstore
  namespace: {{ .Release.Namespace }}
  labels: {{- include "fcg-user-api.labels" . | nindent 4 }}
spec:
  provider:
    aws:
      service: SecretsManager
      region: us-east-1
      auth:
        jwt:
          serviceAccountRef:
            name: {{ include "fcg-user-api.serviceAccountName" . }}
